.projects-title h1 {
    font-family: 'Concert One', cursive;
    font-size: 60px;
    color: rgb(8, 8, 102);
    text-align: center;
    margin-bottom: 5px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}
#projects {
    margin: auto;
    margin-bottom: 100px;
    width: 97%;
}
.TiStarOutline {
    width: 55px;
    height: 55px;
    margin-left: 50px;
    margin-top: -10px;
}
hr.projects-hr {
    border-top: 2.4px dashed rgba(163, 163, 173, 0.993);
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-bottom: -10px;
}
.projects-title {
    display: flex;
    justify-content: space-beteen;
    width: 80%;
    margin-left: 11% !important;
    margin-right: 11% !important;
}
