.skills-title h1 {
    font-family: 'Concert One', cursive;
    font-size: 60px;
    color: rgb(8, 8, 102);
    text-align: center;
    margin-bottom: 70px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}
#skills {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 100px;
}
.FaRegKeyboard {
    width: 55px;
    height: 55px;
    margin-left: 50px;
    margin-top: -10px;
}
.skills-title {
    display: flex;
    justify-content: space-beteen;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

hr.skills-hr {
    border-top: 2.4px dashed rgba(163, 163, 173, 0.993);
    margin-top: -51px;
    margin-bottom: 30px;
    width: 901px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.skill-icon-warp {
    height: 140px;
    width: 100px;
    margin: 20px;
    width: 17%;
    position: relative;
    cursor: pointer;
}
.skill-icon {
    height: 70%;
    max-width: 50%;
    background-position: no-repeat center center/cover;
    transition: width 1.5s, height 1.5s, transform 1.5s;
}
.skill-icon-warp :not(img) {
    color: var(--primary-color);
    opacity: 0;
    transition: 1.5s;
    font-size: 27px;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin-top: 5px;
}
.skill-icon-warp:hover :not(img) {
    opacity: 1;
}
.skill-icon-warp:hover img {
    transform: rotate(360deg);
}
@media (max-width: 500px) {
    .skills-title {
        display: inline;
    }
}
