#about {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.left {
    margin-right: 140px;
    justify-content: center;
}

.box-1 {
    display: flex;
    justify-content: space-beteen;
    position: absolute;
}
.box-1 h1 {
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 60px;
    color: rgb(8, 8, 102);
    margin-top: 30px;
    margin-left: 70px;
}
.GrCircleInformation {
    width: 52px;
    height: 52px;
    margin-top: 43px;
    margin-left: 40px;
}
hr.about-hr {
    border-top: 2.2px dashed rgba(163, 163, 173, 0.993);
}
.box-2 {
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 95, 154);
}

.box-2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 95, 154);
}

.box-3 {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-top: 45px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.box-3 img {
    height: 100%;
}
.right {
    justify-content: center;
    flex-direction: column;
}
.box-4 {
    justify-content: space-around;
}
.right .my-details .detail {
    font-weight: 500;
    padding: 5px;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: rgb(115, 150, 208);
    font-weight: bold;
}

.age-detail-desc {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left: 160px;
}
.field-detail-desc {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left: 8px;
}
.interest-detail-desc {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left: 68px;
}
hr.my-details-hr {
    border-top: 0.2px dashed rgba(163, 163, 173, 0.993);
    width: 320px;
    margin-top: 0px;
}
