.circular--landscape {
    display: inline-block;
    position: relative;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: 48px;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alltext {
    margin-left: 115px;
    margin-top: 38px;
}
.about-me-title {
    display: flex;
    justify-content: space-beteen;
}
.GrCircleInformation {
    width: 52px;
    height: 52px;
    margin-top: 13px;
}
.about-me-title h1 {
    text-align: center;
    margin-bottom: 35px;
    margin-left: 170px;
    margin-right: 53px;
    font-family: 'Concert One', cursive;
    font-size: 60px;
    color: rgb(8, 8, 102);
}
.details {
    font-family: 'Montserrat', sans-serif;
    color: rgb(80, 95, 154);
}

#about {
    margin-bottom: 130px;
}

.profileImg .mydetails {
    padding: 5px;
    text-align: left;
    margin-left: 790px;
    margin-top: 6px;
}

.profileImg .mydetails .detail {
    font-weight: 500;
    display: inline-block;
    width: auto;
    padding: 4px;
    margin-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: rgb(115, 150, 208);
    font-weight: bold;
}

.profileImg .mydetails .detail-desc {
    display: inline-block;
    margin-left: 3px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
hr.about-hr {
    border-top: 1px dashed rgba(163, 163, 173, 0.993);
    margin-left: 93px;
    margin-top: -20px;
    margin-bottom: 27px;
}
hr.details-hr {
    border-top: 0.2px dashed rgba(163, 163, 173, 0.993);
    margin-top: -10px;
    width: 320px;
    margin-left: 793px;
}
