.contact-title h1 {
    font-family: 'Concert One', cursive;
    font-size: 60px;
    color: rgb(8, 8, 102);
    text-align: center;
    margin-bottom: 9px;
    margin-top: 14px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}
.GrContact {
    width: 45px;
    height: 45px;
    margin-left: 50px;
    margin-top: -10px;
}
.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    height: 505px;
}
hr.contact-hr {
    border-top: 1.5px dashed rgba(163, 163, 173, 0.993);
    width: 900px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.btn {
    font-family: 'Carter One', cursive;
    margin-top: 10px;
}
.mapIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.mailIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.smartphoneIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.downloadIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.location-details {
    color: rgb(8, 8, 102);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
}
.box-1 {
    flex: 1;
    order: 1;
}
.box-2 {
    flex: 2;
    order: 3;
}
.box-3 {
    flex: 1;
    order: 3;
}
.mail-details {
    color: rgb(8, 8, 102);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
}
.phone-details {
    color: rgb(8, 8, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: bold;
}
.downloadLink {
    color: rgb(73, 73, 73);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(8, 8, 102);
    margin-left: -5px;
    font-size: 18px;
}
#iconsList .mailIcon :hover {
    opacity: 0.6;
}
#iconsList .mapIcon :hover {
    opacity: 0.6;
}
#iconsList .smartphoneIcon :hover {
    opacity: 0.6;
}
.downloadIcon :hover {
    opacity: 0.6;
}

#detailsList {
    display: flex;
    width: 78%;
    margin-left: 22% !important;
    margin-right: 22% !important;
}
