.contact-title h1 {
    font-family: 'Concert One', cursive;
    font-size: 60px;
    color: rgb(8, 8, 102);
    text-align: center;
    margin-bottom: 9px;
    margin-top: 14px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}
.GrContact {
    width: 45px;
    height: 45px;
    margin-left: 50px;
    margin-top: -10px;
}
.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    margin: auto;
    height: 508px;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}
hr.contact-hr {
    border-top: 2.4px dashed rgba(163, 163, 173, 0.993);
    width: 900px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.btn {
    font-family: 'Itim', cursive;
    font-size: 26px;
    margin-top: 12px;
    color: rgb(63, 133, 190);
}

.mapIcon {
    width: 50px;
    height: 50px;
    margin-left: -108px;
    margin-right: 40px;
    margin-top: -5px;
    cursor: pointer;
}
.mailIcon {
    width: 50px;
    height: 50px;
    margin-right: 40px;
    margin-top: -5px;
    cursor: pointer;
}
.smartphoneIcon {
    width: 50px;
    height: 50px;
    margin-left: -110px;
    margin-right: 40px;
    margin-top: -5px;
    cursor: pointer;
}

.pdfIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.location-details {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: rgb(255, 0, 0);
}

.mail-details {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: rgb(255, 0, 0);
}
.phone-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.pdfLink {
    color: rgb(8, 8, 102);
    margin-left: -5px;
    font-size: 18px;
}
#iconsList .mailIcon :hover {
    opacity: 0.6;
}
#iconsList .mapIcon :hover {
    opacity: 0.6;
}
#iconsList .smartphoneIcon :hover {
    opacity: 0.6;
}
.pdfIcon :hover {
    opacity: 0.6;
}
.icons {
    display: inline-block;
    width: 40%;
    justify-items: center;
    align-items: center;
    position: center;
}
